<nav>
  <a href="/products"><i class="fa-solid fa-fish-fins"></i></a>
  <div class="cart">
    <a href="#"
      ><i class="fa-solid fa-cart-shopping"></i>
      <p id="cart-count">0</p></a
    >
  </div>
</nav>
